<app-navigation></app-navigation>



<div class="container">
<div class="row">
  
  <div class="card m-auto " style="width: 18rem;" *ngFor="let i of products" >
    <img class="card-img-top" [src]='i.url' alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{i.name}}</h5>
      <p class="card-text">{{i.description}}</p>
      <p class="card-text">{{i.price | currency:"INR"}}</p>
      <button class="btn btn-primary" (click)="addcart(i)">Add  to Cart</button>
   
</div>

</div>
</div>
</div>
  