<app-navigation></app-navigation>



<div class="container">
<div class="row">
  
  <div class="card m-auto " style="width: 18rem;" *ngFor="let i of products" >
    <img class="card-img-top" [src]='i.url' alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{i.name}}</h5>
      <p class="card-text">{{i.description}}</p>
      <div class="cont d-flex w-100">
      <div class="price w-50"><p class="card-text">{{i.price | currency:"INR"}}</p></div>
      <div class="qty w-50">
        <div class="buttons float-end">
          <button class="btn bg-primary  quan-btn" (click)="dec(i.qty)" >-</button>
          <span class="p-2">{{i.qty}}</span>
          <button class="btn bg-primary quan-btn" (click)="inc(i.qty)">+</button>
        </div>
      </div>
      </div>      
      <button class="btn btn-primary m-1 " (click)="addcart(i)">Add  to Cart</button>
      

      
</div>

</div>
</div>
</div>
  