<div class="container-fluid text-center m-5">
    <div class="row  bg-secondary  w-50 m-auto p-5">
        <div class="col lg-6 md-6 sm-12 rounded">
            <div class="content ">
                <form action="" [formGroup]="loginForm">
                    <h2 class="text-center">LOGIN</h2>
                    <div class=" cont">
                        <input type="text" class="form-control" placeholder="E-Mail" [(ngModel)]="username" formControlName="email">
                    </div>

                    <div class="password cont">
                        <input [type]="changetype?'password':'text'" formControlName="passs" class="form-control"
                            placeholder="Password" [(ngModel)]="password">
                    </div>

                    <div class="control w-100 d-flex">
                        <div class="showpass w-50 cont">
                            <input type="checkbox" name="" id="" [checked]="isChecked" (change)="toggle($event)"> Show
                            Password
                        </div>
                        <div class="forgotpass w-50 text-right cont">
                            <a href="#" class="text-dark">Forgot Password ?</a>
                        </div>
                    </div>
                    <div class="warn">
                        <p>{{warning}}</p>
                    </div>
                    <div class="button w-100 text-center">
                        <button type="button" class="btn w-100 p-10 bg-light text-da " [disabled]="loginForm.invalid"
                            (click)="submit()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>